{% extends 'ipl_app/base.html' %}
{% load static %}


{% block title %}
IPL | Home
{% endblock title %}


{% block custom-style %}
<link href="{% static 'ipl_app/css/style.css' %}" rel="stylesheet">
{% endblock custom-style %}

{% block custom-script %}
<script type="text/javascript" src="{% static 'ipl_app/js/app.js' %}">
</script>
{% endblock custom-script %}


{% block header %}
<header>
    {% include 'ipl_app/navbar.html' %}

    <div id="homepage" class="justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center animated zoomIn slow">
                    <img id="ipl" src="{% static 'ipl_app/images/ipl.png' %}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-3 animated fadeInLeft slow">
                    <div class="text-center">
                        <img id="csk" src="{% static 'ipl_app/images/svg/csk.svg' %}" alt="">
                    </div>
                    <div class="text-center">
                        <img id="dc" src="{% static 'ipl_app/images/svg/dc.svg' %}" alt="">
                    </div>
                    <div class="text-center">
                        <img id="kkr" src="{% static 'ipl_app/images/svg/kkr.svg' %}" alt="">
                    </div>
                    <div class="text-center">
                        <img id="rr" src="{% static 'ipl_app/images/svg/rr.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-6 text-center animated zoomIn slow">
                    <img id="trophy" src="{% static 'ipl_app/images/trophy.png' %}" alt="">
                </div>
                <div class="col-3 animated fadeInRight slow">
                    <div class="col-3 animated fadeInLeft slow">
                        <div class="text-center">
                            <img id="mi" src="{% static 'ipl_app/images/svg/mi.svg' %}" alt="">
                        </div>
                        <div class="text-center">
                            <img id="kxip" src="{% static 'ipl_app/images/svg/kxip.svg' %}" alt="">
                        </div>
                        <div class="text-center">
                            <img id="srh" src="{% static 'ipl_app/images/svg/srh.svg' %}" alt="">
                        </div>
                        <div class="text-center">
                            <img id="rcb" src="{% static 'ipl_app/images/svg/rcb.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn purple-gradient" href="{% url 'accounts:login' %}">Enter the Field</a>
                </div>
            </div>
        </div>
    </div>

</header>
{% endblock header %}


{% block main %}

{% endblock main %}


{% block footer %}

{% endblock footer %}