{% extends 'ipl_app/base.html' %}
{% load static %}
{% load index %}
{% load crispy_forms_tags %}

{% block title %}
IPL | Schedule
{% endblock title %}


{% block custom-style %}
<link href="{% static 'ipl_app/css/style.css' %}" rel="stylesheet">

{% endblock custom-style %}

{% block custom-script %}
<script type="text/javascript" src="{% static 'ipl_app/js/app.js' %}">
</script>


{% endblock custom-script %}

{% block header %}
<header>
    {% include 'ipl_app/navbar.html' %}
</header>
{% endblock header %}

{% block main %}
<main class='justify-content-center'>
    <section id="schedule-section">
        <div class="container-fluid">

            {% for match in matches %}
            {% with forloop.counter0 as match_counter %}

            {% if match_counter == 0 or match.date != matches|previous_date:match_counter %}
            <h3 class="h3-responsive mb-4"><em>{{match.date|date:'l dS M, Y'}}</em></h3>
            {% endif %}

            <div class="match-list mb-5">
                <div class="row">
                    <div class="col-3 team-logo align-items-center text-center">
                        <div class="justify-content-center m-auto">
                            <img src="{{match.home_team.logo.url}}" alt="" class="img-fluid rounded">
                        </div>
                        <div class="justify-content-center m-auto">
                            <i class="fab fa-vimeo-v"></i>
                        </div>
                        <div class="justify-content-center m-auto">
                            <img src="{{match.away_team.logo.url}}" alt="" class="img-fluid rounded">
                        </div>

                    </div>

                    <div class="col-7 team-name d-block">
                        <div class="align-items-center m-auto">
                            <h4 class="h4-responsive long"
                                style="--fg:{{match.home_team.fore_color}}; --bg:{{match.home_team.back_color}}">
                                {{match.home_team.get_name_display}}
                            </h4>
                            <h4 class="h4-responsive short"
                                style="--fg:{{match.home_team.fore_color}}; --bg:{{match.home_team.back_color}}">
                                {{match.home_team.name}}
                            </h4>
                        </div>
                        <div class="align-items-center m-auto">
                            <h4 class="h4-responsive long"
                                style="--fg:{{match.away_team.fore_color}}; --bg:{{match.away_team.back_color}}">
                                {{match.away_team.get_name_display}}
                            </h4>
                            <h4 class="h4-responsive short"
                                style="--fg:{{match.away_team.fore_color}}; --bg:{{match.away_team.back_color}}">
                                {{match.away_team.name}}
                            </h4>
                        </div>
                    </div>

                    <div class="col-2">

                        {% if match.winner %}
                        <div class="align-items-center">
                            <p>Match No {{match.num}}</p>
                            <p class="text-warning"><span class="text-info">Match Winner: </span>{{match.winner.name}}
                            </p>
                        </div>
                        {% else %}
                        <div class="align-items-center">
                            <p>Match No {{match.num}}</p>
                        </div>
                        {% endif %}


                    </div>
                </div>

                {% if match_id != match.id %}
                <div class="row btns-row show justify-content-center">
                    <div class="column">
                        <form class="bet-list-form">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input type="hidden" name="match" value={{match.id}}>
                            <a class="btn btn-sm btn-bets" href="{% url 'iplapp:schedule' match.id %}">Check
                                Bets</a>
                        </form>

                    </div>

                </div>
                {% endif %}

                {% if match_id == match.id %}

                <div class="row justify-content-center bets-row">
                    <div class="column m-auto">

                        <div class="table-responsive m-auto">
                            <h5 class="h5-responsive mb-2">Match Bets</h5>
                            <table class="table w-auto text-nowrap">
                                <thead>
                                    <tr class="deep-purple darken-2">
                                        <th>Player</th>
                                        <th>Team</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Win/Loss</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for bet in bets %}

                                    {% if forloop.counter|divisibleby:2 %}
                                    <tr class="purple darken-3">
                                        {% else %}
                                    <tr class="purple lighten-1">
                                        {% endif %}

                                        <td>{{bet.player.user.first_name|split}}</td>
                                        <td>{{bet.bet_team}}</td>
                                        <td>{{bet.bet_amt}}</td>
                                        {% if bet.status == 'D' or bet.status == 'L' %}
                                        <td class="text-warning">{{bet.get_status_display}}</td>
                                        {% else %}
                                        <td class="text-success">{{bet.get_status_display}}</td>
                                        {% endif %}
                                        {% if bet.lost_amt > 0 %}
                                        <td class="text-warning">{{bet.lost_amt|floatformat:2}}</td>
                                        {% else %}
                                        <td class="text-success">{{bet.win_amt|floatformat:2}}</td>
                                        {% endif %}

                                    </tr>
                                    {% empty %}
                                    <tr class="deep-purple darken-3">
                                        <td colspan="5">No Bets yet</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endwith %}
            {% endfor %}

            <!-- Pagination -->
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-template d-flex justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page={{page_obj.previous_page_number}}"
                            class="page-link text-white"> <i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item"><a href="?page={{page_obj.previous_page_number}}"
                            class="page-link text-white">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item"><a href="#" class="page-link active text-danger">{{ page_obj.number }} <span
                                class="sr-only">(current)</span></a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{page_obj.next_page_number}}"
                            class="page-link text-white">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link text-white"> <i
                                class="fa fa-angle-right"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>

    </section>

</main>
{% endblock main %}